<th:block th:insert="fragments/general.html :: header('Add Record')"></th:block>
    <div th:if="${errors != null}">
        <th:block th:text="${errors.get(0).getMessage()}"></th:block>
    </div>
    <a href="/days" class="btn btn-link text-primary"><i class="material-icons">arrow_back</i> Back</a>
    <form action="/days/add" method="POST">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

        <div class="form-field">
            <label for="rating">Rating:</label><br>
            <a href="javascript:void(0)" class="btn btn-primary btn-fab btn-round btn-mood">😭</a>
            <a href="javascript:void(0)" class="btn btn-primary btn-fab btn-round btn-mood">😢</a>
            <a href="javascript:void(0)" class="btn btn-primary btn-fab btn-round btn-mood">😐</a>
            <a href="javascript:void(0)" class="btn btn-primary btn-fab btn-round btn-mood">🙂</a>
            <a href="javascript:void(0)" class="btn btn-primary btn-fab btn-round btn-mood">😀</a>
            <input class="form-control" type="hidden" name="rating" th:value="${day.rating} ?: '3'" id="mood">
        </div>

        <div class="form-field">
            <label for="description">Description</label><br>
            <input class="form-control" type="text" name="description" id="description" th:value="${day.description} ?: ''">
        </div>

        <div class="form-field">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </form>
<th:block th:insert="fragments/general.html :: footer"></th:block>