.card {
    margin-top: 60px !important;
}

.card-title, .footer-big h4, .footer-big h5, .footer-brand, .info-title, .media .media-heading, .title {
    font-family: "Poppins", sans-serif !important;
    font-weight: 400;
}

.btn-mood {
    font-size: 3em;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.card-header .btn-logout {    
    text-align: right;
    display: block;
}